*.lnk
*.autosave
*.lnt
*.htm
*.obj
*.a
moc_*.cpp
*.Debug
*.Release
*.pro.user.*
*.cd
/include_os_lib/

/GeneratedFiles
/QtQp-build*
_UpgradeReport_Files/
*debug*
*release*


*.old
*.XML

*.vcproj
*.vsprops

*.APS
*.ncb
*.user
*.sln
*.suo
*.7z
*.obj
*.idb
*.pdb
*.htm
*.html


*.doc
*.res
*.lnk
*.exe
*.db
*.TMP
vc.bat
DateTime.txt

!gitk --all(win7).lnk
!gitk --all.lnk
!Git Bash.lnk
!dll/Qt_dll/*
!dll/Player/DiscPlayer/*
!dll/Player/MediaPlayer/*
!upgrade/bin/Release/ICSharpCode.SharpZipLib.dll
!EasyConnected/easyconnected.exe
!dll/AutoBox/AutoPlayBox.exe
!*debug*.cpp
!*debug*.h
*Makefile*
*.cpp.*
*.h.*
